body {
  font-family: "Courier New", Courier, monospace;
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block {
  background-color: antiquewhite;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.row.center {
  align-items: center;
}

img.small {
  max-height: 8rem;
}
button {
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: rgb(8, 139, 67);
  color: aliceblue;
  border-color: rgb(4, 14, 14);
}

.add {
  background-color: rgb(66, 221, 221);
  padding: 0.35rem;
  margin: 0.2rem;
}
.remove {
  background-color: rgb(185, 35, 35);
  padding: 0.4rem;
  margin: 0.2rem;
}
.badge {
  padding: 0.1rem;
  background-color: rgb(223, 21, 31);
}
.check {
  display: flex;
  justify-content: center;
}
